.home__container{
    margin-top: 50px;
    color: #2e2c2c;
    font-family: "Open Sans", sans-seri;
   
}
.add__cart{
    margin-top: 40px;
}
.link__cart{
    color: rgb(253, 127, 10);
    margin-left: 20px;
}
.link__cart:hover{
    color: rgb(211, 102, 0);
}
.home{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.home__item{
    width: 25px;
    height: 25px;
    fill: rgb(211, 102, 0);
}
.home__cart{
    margin: 0 20px 0 20px;
    color: rgb(253, 127, 10);
}
.home__order{
    color: rgb(253, 127, 10);
}
.home__order:hover{
    color: rgb(211, 102, 0);
}
.title__cart{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 950px;
    font-size: 17px;
    margin: 0 auto;
    color: rgb(253, 127, 10);
}

.home__box{
    background-color: #e4f4ff;
    width: 950px;
    height: 100%;
    margin: 0 auto;
}

.cart__order__cart{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 950px;
    font-size: 14px;
    
}
.delete{
    width: 20px;
    height: 25px;
    margin: 0 30px;
    border: none;
}
.delete:active{
    background-color: rgb(253, 127, 10);
}
.garb__icon{
    width: 15px;
    height: 15px;
   
}

.img__cart{
    width: 80px;
    height: 80px;
    margin-top: 25px;
}
.cart__text{
    width: 195px;
  
}
.cart__price{
    margin-right: 12px ;
}
.button__box{
    display: flex;
    padding: 10px;
    margin-right: 40px;
}
.minus{
    width: 15px;
    height: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 5px;
    color: rgb(253, 127, 10);
    border: 1px solid rgb(253, 127, 10);

}
.minus:active{
    background-color: rgb(253, 127, 10);
    color: #2e2c2c;
}
.plus{
    width: 15px;
    height: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 5px;
    border: 1px solid rgb(253, 127, 10);
    color: rgb(253, 127, 10);
}
.plus:active{
    background-color: rgb(253, 127, 10);
    color: #2e2c2c;
}

.total{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 25px;
}
.total__price{
    color: rgb(211, 102, 0);
    margin-right: 30px;
}

.push__push{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    padding-bottom: 30px;
   
}
.push__buy{
    padding: 15px;
    border: none;
    background-color: rgb(253, 127, 10);
    color: rgb(225,255,255);
    cursor: pointer;
}
.push__buy:active{
   
    background-color: rgb(255, 153, 57);
    
}
