
.model__item{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    color: rgb(253, 127, 10);
    padding: 10px 0 10px 0;
    
}
.item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    grid-row-gap: 60px;
    color: black;
  }

