#searchPanel {
  display: flex;
  position: relative;
  z-index: 2;
  top: -32px;
  /* padding-left: 10px; */
  width: 68%;
  box-sizing: border-box;
  height: 25px;
}

#searchInput {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  color: black;
  width: 100%;
  box-sizing: border-box;
}

#delButton, #searchButton {
  padding: 0 3px;
  font-size: 12px;
  cursor: pointer;
  max-height: 26px;
  width: auto;
}

#delButton {
  max-width: 15px;
}

#searchButton {
  max-width: 55px;
}

#searchExit {
  width: 20px;
  height: 38px;
}

#searchResults {
  position: absolute;
  width: 85%;
  max-width: 300px;
  overflow-y: auto;
  background-color: #fff;
  color: black;
  border-top: none;
  z-index: 1;
  margin-top: 33px;
}

#searchResults ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#searchResults li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

#searchResults li:hover {
  background-color: #f0f0f0;
}

@media (min-width: 768px) {
  #searchPanel {
    display: flex;
    position: relative;
    z-index: 2;
    top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    height: 30px;
  }

#delButton, #searchButton {
  padding: 0 2px;
  font-size: 14px;
  cursor: pointer;
  max-height: 30px;
  width: auto;
}

  #searchInput {
      font-size: 13px;
  }

  #searchResults {
      width: 50%;
      max-width: 400px;
  }
}

@media (min-width: 1024px) {

  #searchInput {
      font-size: 18px;
  }

  #searchResults {
      width: 30%;
      max-width: 500px;
  }
}
